---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Item.json
    body:
      encoding: UTF-8
      string: '{"description":"Onesie"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 12.351366519926/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"429","systemSku":"210000000435","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"Onesie","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2016-02-13T00:47:21+00:00","timeStamp":"2016-02-13T00:47:21+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","ItemShops":{"ItemShop":[{"itemShopID":"859","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2016-02-13T00:47:21+00:00","itemID":"429","shopID":"1"},{"itemShopID":"858","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2016-02-13T00:47:21+00:00","itemID":"429","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"0","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}'
  recorded_at: Sat, 13 Feb 2016 00:47:22 GMT
recorded_with: VCR 2.9.3
