---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Item.json?itemMatrixID=0&limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 59.19896030426/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"233","offset":"0","limit":"100"},"Item":[{"itemID":"135","systemSku":"210000000135","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"Antique
        Brass Round Dome Studs - 1\/4\"","modelYear":"0","upc":"","ean":"","customSku":"303303AB","manufacturerSku":"","createTime":"2015-11-06T02:26:11+00:00","timeStamp":"2015-11-06T02:26:11+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"73","itemECommerceID":"0","TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"ItemShops":{"ItemShop":[{"itemShopID":"271","qoh":"1000","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-06T02:26:11+00:00","itemID":"135","shopID":"1"},{"itemShopID":"270","qoh":"1000","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-06T02:26:11+00:00","itemID":"135","shopID":"0"}]},"ItemVendorNums":{"ItemVendorNum":{"itemVendorNumID":"135","value":"1003-30
        CG","timeStamp":"2015-11-06T02:26:11+00:00","itemID":"135","vendorID":"73"}},"Prices":{"ItemPrice":[{"amount":"6.5","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}},{"itemID":"136","systemSku":"210000000136","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"Gunmetal
        Round Dome Studs - 3\/8\"","modelYear":"0","upc":"","ean":"","customSku":"303305GM","manufacturerSku":"","createTime":"2015-11-06T02:26:12+00:00","timeStamp":"2015-11-06T02:26:12+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0[...]
[...]
