---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/1/Item.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"4","offset":"0","limit":"100"},"Item":[{"itemID":"2","systemSku":"210000000002","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Red Small","modelYear":"0","upc":"","ean":"","customSku":"1","manufacturerSku":"","createTime":"2015-07-28T04:38:48+00:00","timeStamp":"2015-07-27T11:40:31+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}},{"itemID":"4","systemSku":"210000000004","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Green Small","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-07-28T04:41:02+00:00","timeStamp":"2015-07-27T11:41:02+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"0","seasonID":"0","de[...]
