---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/1/Item.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"7","offset":"0","limit":"100"},"Item":[{"itemID":"2","systemSku":"210000000002","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Red Small","modelYear":"0","upc":"","ean":"","customSku":"1","manufacturerSku":"","createTime":"2015-07-28T04:38:48+00:00","timeStamp":"2015-07-30T07:14:14+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","TaxClass":{"taxClassID":"2","name":"Item","timeStamp":"2015-07-19T07:59:46+00:00"},"ItemAttributes":{"attribute1":"Red","attribute2":"Small","attribute3":"","itemAttributeSetID":"2","ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""}},"Note":{"note":"","isPublic":"false","timeStamp":"2015-07-27T11:38:49+00:00"},"ItemShops":{"ItemShop":[{"itemShopID":"4","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-07-30T07:14:14+00:00","itemID":"2","shopID":"1"},{"itemShopID":"6","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-07-29T13:11:12+00:00","itemID":"2","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}},{"itemID":"4","systemSku":"210000000004","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Green Small","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-07-28T04:41:02+00:00","timeStamp":"2015-07-27T11:41:02+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"0","seasonID":"0","de[...]
