---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Item.json?itemID=417&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 54.131335496901/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Item":{"itemID":"417","systemSku":"210000000423","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":".064\"
        x 3\/4\" Brass Strip","modelYear":"0","upc":"0614121182479","ean":"","customSku":"KS8247","manufacturerSku":"","createTime":"2016-02-05T07:48:39+00:00","timeStamp":"2016-02-06T00:08:37+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"Note":{"note":"","isPublic":"false","timeStamp":"2016-02-05T23:53:33+00:00"},"ItemShops":{"ItemShop":[{"itemShopID":"835","qoh":"45","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2016-02-06T00:08:37+00:00","itemID":"417","shopID":"1"},{"itemShopID":"834","qoh":"45","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2016-02-06T00:08:37+00:00","itemID":"417","shopID":"0"}]},"CustomFieldValues":{"CustomFieldValue":{"customFieldValueID":"50","customFieldID":"1","name":"testfield","type":"url","value":""}},"Prices":{"ItemPrice":[{"amount":"4.39","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}'
  recorded_at: Sat, 13 Feb 2016 00:47:20 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Item/177.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 9.7624735832203/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"177","systemSku":"210000000177","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"box","description":"Antique
        Brass ''Elbow'' Studs - 3\/4\" CasePack","modelYear":"0","upc":"","ean":"","customSku":"302683AB","manufacturerSku":"","createTime":"2015-11-06T02:28:39+00:00","timeStamp":"2015-11-24T00:06:05+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"73","itemECommerceID":"0","TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"Note":{"note":"","isPublic":"false","timeStamp":"2015-11-24T00:05:57+00:00"},"ItemShops":{"ItemShop":[{"itemShopID":"355","qoh":"1045","backorder":"2","componentQoh":"10","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-24T00:06:24+00:00","itemID":"177","shopID":"1","m":{"layaways":"0","specialorders":"0","workorders":"0"}},{"itemShopID":"354","qoh":"1045","backorder":"2","componentQoh":"10","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-24T00:06:24+00:00","itemID":"177","shopID":"0","m":{"layaways":"0","specialorders":"0","workorders":"0"}}]},"ItemComponents":{"ItemComponent":{"itemComponentID":"1","quantity":"100","componentGroup":"1","assemblyItemID":"177","componentItemID":"171"}},"ItemVendorNums":{"ItemVendorNum":{"itemVendorNumID":"177","value":"8674-90
        CG","timeStamp":"2015-11-06T02:28:39+00:00","itemID":"177","vendorID":"73"}},"CustomFieldValues":{"CustomFieldValue":{"customFieldValueID":"2","customFieldID":"1","name":"testfield","type":"url","value":""}},"Prices":{"ItemPrice":[{"amount":"13.95","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}'
  recorded_at: Sat, 13 Feb 2016 00:49:28 GMT
recorded_with: VCR 2.9.3
