---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Item.json?itemID=4&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"100"},"Item":{"itemID":"4","systemSku":"210000000004","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Green Small","modelYear":"0","upc":"9300601000001","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-07-28T04:41:02+00:00","timeStamp":"2015-08-12T08:49:01+00:00","categoryID":"4","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"6","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Category":{"categoryID":"4","name":"Bike
        T-Shirts","nodeDepth":"0","fullPathName":"Bike T-Shirts","leftNode":"1","rightNode":"2","createTime":"2015-08-13T01:34:50+00:00","timeStamp":"2015-08-12T08:35:06+00:00","parentID":"0"},"TaxClass":{"taxClassID":"2","name":"Item","timeStamp":"2015-07-19T07:59:46+00:00"},"ItemAttributes":{"attribute1":"Green","attribute2":"Small","attribute3":"","itemAttributeSetID":"2","ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""}},"Manufacturer":{"manufacturerID":"6","name":"Giant","createTime":"2015-08-13T01:34:30+00:00","timeStamp":"2015-08-12T08:34:30+00:00"},"Note":{"note":"","isPublic":"false","timeStamp":"2015-08-12T08:49:01+00:00"},"ItemShops":{"ItemShop":{"itemShopID":"8","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-08-12T08:49:01+00:00","itemID":"4","shopID":"1"}},"Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}}'
  recorded_at: Wed, 23 Sep 2015 04:54:49 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Item.json?itemID=4&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Item":{"itemID":"4","systemSku":"210000000004","d[...]
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/120645/Item/177.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 1/30
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"177","systemSku":"210000000177","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"box","description":"Antique
        Brass ''Elbow'' Studs - 3\/4\" CasePack","modelYear":"0","upc":"","ean":"","customSku":"302683AB","manufacturerSku":"","createTime":"2015-11-06T02:28:39+00:00","timeStamp":"2015-11-06T04:15:05+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"73","itemECommerceID":"0","TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"Note":{"note":"","isPublic":"false","timeStamp":"2015-11-06T04:14:34+00:00"},"ItemShops":{"ItemShop":[{"itemShopID":"355","qoh":"1000","backorder":"2","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-06T04:14:34+00:00","itemID":"177","shopID":"1","m":{"layaways":"0","specialorders":"0","workorders":"0"}},{"itemShopID":"354","qoh":"1000","backorder":"2","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-06T02:29:46+00:00","itemID":"177","shopID":"0","m":{"layaways":"0","specialorders":"0","workorders":"0"}}]},"ItemComponents":{"ItemComponent":{"itemComponentID":"1","quantity":"100","componentGroup":"1","assemblyItemID":"177","componentItemID":"171"}},"ItemVendorNums":{"ItemVendorNum":{"itemVendorNumID":"177","value":"8674-90
        CG","timeStamp":"2015-11-06T02:28:39+00:00","itemID":"177","vendorID":"73"}},"CustomFieldValues":{"CustomFieldValue":{"customFieldValueID":"2","customFieldID":"1","name":"testfield","type":"url","value":""}},"Prices":{"ItemPrice":[{"amount":"13.95","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}'
  recorded_at: Mon, 16 Nov 2015 22:44:16 GMT
recorded_with: VCR 2.9.3
