---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Item.json?itemID=4&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"100"},"Item":{"itemID":"4","systemSku":"210000000004","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Green Small","modelYear":"0","upc":"9300601000001","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-07-28T04:41:02+00:00","timeStamp":"2015-08-12T08:49:01+00:00","categoryID":"4","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"6","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Category":{"categoryID":"4","name":"Bike
        T-Shirts","nodeDepth":"0","fullPathName":"Bike T-Shirts","leftNode":"1","rightNode":"2","createTime":"2015-08-13T01:34:50+00:00","timeStamp":"2015-08-12T08:35:06+00:00","parentID":"0"},"TaxClass":{"taxClassID":"2","name":"Item","timeStamp":"2015-07-19T07:59:46+00:00"},"ItemAttributes":{"attribute1":"Green","attribute2":"Small","attribute3":"","itemAttributeSetID":"2","ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""}},"Manufacturer":{"manufacturerID":"6","name":"Giant","createTime":"2015-08-13T01:34:30+00:00","timeStamp":"2015-08-12T08:34:30+00:00"},"Note":{"note":"","isPublic":"false","timeStamp":"2015-08-12T08:49:01+00:00"},"ItemShops":{"ItemShop":{"itemShopID":"8","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-08-12T08:49:01+00:00","itemID":"4","shopID":"1"}},"Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}}'
  recorded_at: Wed, 23 Sep 2015 04:54:49 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Item.json?itemID=4&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Item":{"itemID":"4","systemSku":"210000000004","d[...]
