---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Item.json
    body:
      encoding: UTF-8
      string: '{"description":"Item to update"}'
    headers:
      Authorization:
      - OAuth OAuth Token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 40.15590071678/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"430","systemSku":"210000000436","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"Item
        to update","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2016-02-13T00:48:23+00:00","timeStamp":"2016-02-13T00:48:23+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","ItemShops":{"ItemShop":[{"itemShopID":"861","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2016-02-13T00:48:23+00:00","itemID":"430","shopID":"1"},{"itemShopID":"860","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2016-02-13T00:48:23+00:00","itemID":"430","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"0","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}'
  recorded_at: Sat, 13 Feb 2016 00:48:24 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/-/Item/430.json
    body:
      encoding: UTF-8
      string: '{"description":"T-Shirt Red Small"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 49.548061609267/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
  [...]
