---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/117102/Item.json
    body:
      encoding: UTF-8
      string: '{"description":"Item to update"}'
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"28","systemSku":"210000000027","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"Item
        to update","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-09-22T11:55:31+00:00","timeStamp":"2015-09-22T11:55:31+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","ItemShops":{"ItemShop":[{"itemShopID":"43","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-09-22T11:55:32+00:00","itemID":"28","shopID":"1"},{"itemShopID":"44","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-09-22T11:55:31+00:00","itemID":"28","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"0","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}}'
  recorded_at: Wed, 23 Sep 2015 04:55:53 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/117102/Item/28.json
    body:
      encoding: UTF-8
      string: '{"description":"T-Shirt Red Small"}'
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"28","systemSku":"210000000027","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Red Small","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-09-22T11:55:31+00:00","timeStamp":"2015-09-22T11:55:32+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"0","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","ItemShops":{"ItemShop":[{"itemShopID":"43","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-09-22T11:55:32+00:00","itemID":"28","shopID":"1"},{"itemShopID":"44","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-09-22T11:55:31+00:00","itemID":"28","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"0","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}}'
  recorded_at: Wed, 23 Sep 2015 04:55:54 GMT
recorded_with: VCR 2.9.3
