---
http_interactions:
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/1/Item/2.json
    body:
      encoding: UTF-8
      string: '{"description":"T-Shirt Red Small"}'
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Item":{"itemID":"2","systemSku":"210000000002","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"true","itemType":"default","description":"T-Shirt
        Red Small","modelYear":"0","upc":"","ean":"","customSku":"1","manufacturerSku":"","createTime":"2015-07-28T04:38:48+00:00","timeStamp":"2015-07-29T13:11:13+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","manufacturerID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","ItemAttributes":{"attribute1":"Red","attribute2":"Small","attribute3":"","itemAttributeSetID":"2"},"ItemMatrix":{"itemMatrixID":"2","description":"T-Shirt","tax":"true","defaultCost":"0","itemType":"default","modelYear":"0","archived":"false","timeStamp":"2015-07-29T13:27:05+00:00","itemAttributeSetID":"2","manufacturerID":"0","categoryID":"0","defaultVendorID":"0","taxClassID":"2","seasonID":"0","departmentID":"0","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}},"Note":{"note":"","isPublic":"false","timeStamp":"2015-07-27T11:38:49+00:00"},"ItemShops":{"ItemShop":[{"itemShopID":"4","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-07-29T13:11:13+00:00","itemID":"2","shopID":"1"},{"itemShopID":"6","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-07-29T13:11:12+00:00","itemID":"2","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}}'
  recorded_at: Thu, 30 Jul 2015 06:27:08 GMT
recorded_with: VCR 2.9.3
