---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Customer.json?customerID=1&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ls-Acct-Id:
      - '123456'
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Api-Bucket-Level:
      - 1/90
      X-Ls-Shard-Id:
      - '12'
      X-Ls-Api-Drip-Rate:
      - '1'
      X-Ls-Master-System:
      - 'false'
      X-Ls-Master-Account:
      - 'false'
      X-Ls-Master-Catalog:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Customer":{"firstName":"cust
        first","lastName":"cust last","dob":"2019-04-29T04:00:00+00:00","title":"customer
        test 1","company":"","companyRegistrationNumber":"","vatNumber":"","creditAccountID":"1","customerTypeID":"0","discountID":"0","taxCategoryID":"0","Contact":{"custom":"","noEmail":"true","noPhone":"true","noMail":"true","Addresses":{"ContactAddress":{"address1":"","address2":"","city":"","state":"","zip":"","country":"","countryCode":"","stateCode":""}},"Phones":"","Emails":"","Websites":"","timeStamp":"2019-04-29T08:40:04+00:00"},"CreditAccount":{"creditAccountID":"1","balance":"0","creditLimit":"0","timeStamp":"2019-04-29T08:45:22+00:00"},"Note":{"note":"","isPublic":"false","timeStamp":"2019-04-29T08:40:04+00:00"},"Tags":"","customerID":"1","createTime":"2019-04-29T08:40:04+00:00","timeStamp":"2019-04-29T08:45:22+00:00","archived":"false"}}'
  recorded_at: Thu, 02 May 2019 14:02:44 GMT
recorded_with: VCR 4.0.0
