---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/ItemAttributeSet.json?limit=100&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"4","offset":"0","limit":"100"},"ItemAttributeSet":[{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""},{"itemAttributeSetID":"4","name":"Size","attributeName1":"","attributeName2":"Size","attributeName3":""},{"itemAttributeSetID":"6","name":"Color","attributeName1":"Color","attributeName2":"","attributeName3":""},{"itemAttributeSetID":"8","name":"3
        Attributes","attributeName1":"Attribute 1","attributeName2":"Attribute 2","attributeName3":"Attribute
        3"}]}'
  recorded_at: Wed, 23 Sep 2015 04:54:46 GMT
recorded_with: VCR 2.9.3
