---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/ItemAttributeSet.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 61.986268997192/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"4","offset":"0","limit":"100"},"ItemAttributeSet":[{"itemAttributeSetID":"1","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""},{"itemAttributeSetID":"2","name":"Size","attributeName1":"","attributeName2":"Size","attributeName3":""},{"itemAttributeSetID":"3","name":"Color","attributeName1":"Color","attributeName2":"","attributeName3":""},{"itemAttributeSetID":"4","name":"3
        Attributes","attributeName1":"Attribute 1","attributeName2":"Attribute 2","attributeName3":"Attribute
        3"}]}'
  recorded_at: Sat, 13 Feb 2016 00:47:02 GMT
recorded_with: VCR 2.9.3
