---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/ItemAttributeSet.json?itemAttributeSetID=2&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"100"},"ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""}}'
  recorded_at: Wed, 23 Sep 2015 04:54:46 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/ItemAttributeSet.json?itemAttributeSetID=2&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""}}'
  recorded_at: Thu, 24 Sep 2015 03:10:47 GMT
recorded_with: VCR 2.9.3
