---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/1/ItemAttributeSet.json?itemAttributeSetID=2&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"100"},"ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""}}'
  recorded_at: Mon, 03 Aug 2015 05:56:31 GMT
recorded_with: VCR 2.9.3
