---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/ItemAttributeSet/2.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 62.49705004692/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"ItemAttributeSet":{"itemAttributeSetID":"2","name":"Size","attributeName1":"","attributeName2":"Size","attributeName3":""}}'
  recorded_at: Sat, 13 Feb 2016 00:47:02 GMT
recorded_with: VCR 2.9.3
