---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/PriceLevel.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ls-Acct-Id:
      - '132986'
      X-Ls-Oauth-Client-Id:
      - '20794'
      X-Ls-Api-Bucket-Level:
      - 1/90
      X-Ls-Shard-Id:
      - '23'
      X-Ls-Api-Drip-Rate:
      - '1'
      X-Ls-Master-System:
      - 'true'
      X-Ls-Master-Account:
      - 'false'
      X-Ls-Master-Catalog:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"5","offset":"0","limit":"100"},"PriceLevel":[{"priceLevelID":"1","name":"Default","archived":"false","canBeArchived":"false","type":"fixed","Calculation":""},{"priceLevelID":"2","name":"MSRP","archived":"false","canBeArchived":"false","type":"fixed","Calculation":""},{"priceLevelID":"3","name":"Sale
        Price","archived":"false","canBeArchived":"true","type":"fixed","Calculation":""},{"priceLevelID":"4","name":"Online","archived":"false","canBeArchived":"false","type":"fixed","Calculation":""},{"priceLevelID":"5","name":"James
        price","archived":"false","canBeArchived":"true","type":"fixed","Calculation":""}]}'
  recorded_at: Thu, 05 Oct 2017 00:46:12 GMT
recorded_with: VCR 3.0.3
