---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/PriceLevel.json?limit=1&load_relations=all&priceLevelID=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ls-Acct-Id:
      - '132986'
      X-Ls-Oauth-Client-Id:
      - '20794'
      X-Ls-Api-Bucket-Level:
      - 1/90
      X-Ls-Shard-Id:
      - '23'
      X-Ls-Api-Drip-Rate:
      - '1'
      X-Ls-Master-System:
      - 'true'
      X-Ls-Master-Account:
      - 'false'
      X-Ls-Master-Catalog:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"5","offset":"0","limit":"1"},"PriceLevel":{"priceLevelID":"1","name":"55a4b9a994","archived":"false","canBeArchived":"false","type":"fixed","Calculation":""}}'
  recorded_at: Thu, 05 Oct 2017 00:46:57 GMT
recorded_with: VCR 3.0.3
