---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Employee.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 1/90
      X-Ls-Oauth-Client-Id:
      - '20367'
      X-Ls-Acct-Id:
      - '121415'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"3","offset":"0","limit":"100"},"Employee":[{"employeeID":"1","firstName":"Andy","lastName":"Gauth","accessPin":"","lockOut":"false","archived":"false","timeStamp":"2015-11-25T11:57:19+00:00","contactID":"1","clockInEmployeeHoursID":"0","employeeRoleID":"4","limitToShopID":"0","lastShopID":"1","lastSaleID":"4","lastRegisterID":"1","Contact":{"contactID":"1","custom":"","noEmail":"false","noPhone":"false","noMail":"false","timeStamp":"2015-11-20T14:28:31+00:00","Addresses":"","Phones":{"ContactPhone":{"number":"(819)\u00a0572-3151","useType":"Work"}},"Emails":{"ContactEmail":{"address":"test@example.com","useType":"Primary"}},"Websites":""},"EmployeeRole":{"employeeRoleID":"4","name":"Owner","EmployeeRights":{"EmployeeRight":[{"employeeRightID":"4","name":"allow_login"},{"employeeRightID":"8","name":"register"},{"employeeRightID":"12","name":"register_refund"},{"employeeRightID":"16","name":"register_open"},{"employeeRightID":"20","name":"register_withdraw"},{"employeeRightID":"24","name":"register_close"},{"employeeRightID":"27","name":"register_price"},{"employeeRightID":"31","name":"register_reopen"},{"employeeRightID":"35","name":"register_catalogs"},{"employeeRightID":"39","name":"register_layaway"},{"employeeRightID":"43","name":[...]
