---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Employee.json?employeeID=1&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 77.444746732711/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Employee":{"employeeID":"1","firstName":"Jordan","lastName":"Sitkin","accessPin":"","lockOut":"false","archived":"false","timeStamp":"2016-01-14T21:39:54+00:00","contactID":"1","clockInEmployeeHoursID":"0","employeeRoleID":"4","limitToShopID":"0","lastShopID":"1","lastSaleID":"116","lastRegisterID":"1","Contact":{"contactID":"1","custom":"","noEmail":"false","noPhone":"false","noMail":"false","timeStamp":"2015-11-04T18:41:22+00:00","Addresses":"","Phones":{"ContactPhone":{"number":"555
        555 5555","useType":"Work"}},"Emails":{"ContactEmail":{"address":"jordan@kitkraft.com","useType":"Primary"}},"Websites":""},"EmployeeRole":{"employeeRoleID":"4","name":"Owner","EmployeeRights":{"EmployeeRight":[{"employeeRightID":"4","name":"allow_login"},{"employeeRightID":"8","name":"register"},{"employeeRightID":"12","name":"register_refund"},{"employeeRightID":"16","name":"register_open"},{"employeeRightID":"20","name":"register_withdraw"},{"employeeRightID":"24","name":"register_close"},{"employeeRightID":"27","name":"register_price"},{"employeeRightID":"31","name":"register_reopen"},{"employeeRightID":"35","name":"register_catalogs"},{"employeeRightID":"39","name":"register_layaway"},{"employeeRightID":"43","name":[...]
