---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Account":{"accountID":"113665","name":"Marketplacer","link":{"@attributes":{"href":"\/API\/Account\/117102"}}}}'
  recorded_at: Thu, 30 Jul 2015 03:57:45 GMT
recorded_with: VCR 2.9.3
