---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json?limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Lightspeed-Url-Whitelist:
      - 139.130.215.166
      - Ref:LCO-2036
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Account":{"accountID":"117102","name":"Marketplacer
        2","link":{"@attributes":{"href":"\/API\/Account\/117102"}}}}'
  recorded_at: Thu, 24 Sep 2015 03:17:40 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json?limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Lightspeed-Url-Whitelist:
      - 139.130.215.166
      - Ref:LCO-2036
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Account":{"accountID":"117102","name":"Marketplacer
        2","link":{"@attributes":{"href":"\/API\/Account\/117102"}}}}'
  recorded_at: Thu, 24 Sep 2015 03:32:42 GMT
recorded_with: VCR 2.9.3
