---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json?limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 1/180
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
      X-Lightspeed-Url-Whitelist:
      - 67.169.116.105
      - Ref:LCO-2036
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Account":{"accountID":"120645","name":"Kit
        Kraft Sandbox","link":{"@attributes":{"href":"\/API\/Account\/120645"}}}}'
  recorded_at: Fri, 20 Nov 2015 06:21:31 GMT
recorded_with: VCR 2.9.3
