---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_refreshed
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 75.898271799086/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
      X-Lightspeed-Url-Whitelist:
      - 67.169.116.105
      - Ref:LCO-2036
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Account":{"accountID":"120645","name":"Kit
        Kraft Sandbox","link":{"@attributes":{"href":"\/API\/Account\/120645"}}}}'
  recorded_at: Sat, 13 Feb 2016 00:46:37 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json?limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_refreshed
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 76.47055864334/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
      X-Lightspeed-Url-Whitelist:
      - 67.169.116.105
      - Ref:LCO-2036
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Account":{"accountID":"120645","name":"Kit
        Kraft Sandbox","link":{"@attributes":{"href":"\/API\/Account\/120645"}}}}'
  recorded_at: Sat, 13 Feb 2016 00:46:37 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account.json?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="MerchantOS API"
      X-Ls-Master-Account:
      - 'false'
      X-Ls-Master-Catalog:
      - 'false'
      X-Ls-Master-System:
      - 'false'
    body:
      encoding: UTF-8
      string: '{"httpCode":"401","httpMessage":"Unauthorized","message":"Invalid username\/password
        or API key.","errorClass":"BadAuthenticationRequestError"}'
  recorded_at: Tue, 04 Apr 2017 00:49:29 GMT
recorded_with: VCR 2.9.3
