---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/1/Inventory.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"2","offset":"0","limit":"100"},"Inventory":[{"inventoryID":"2","itemID":"2"},{"inventoryID":"4","itemID":"2"}]}'
  recorded_at: Mon, 03 Aug 2015 04:43:52 GMT
recorded_with: VCR 2.9.3
