---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Inventory.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 77.340669870376/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"566","offset":"0","limit":"100"},"Inventory":[{"inventoryID":"1","itemID":"1","Item":{"itemID":"1","systemSku":"210000000001","defaultCost":"2","avgCost":"2","discountable":"true","tax":"true","archived":"true","itemType":"default","description":"Test
        Item 001","modelYear":"0","upc":"","ean":"","customSku":"testitem1","manufacturerSku":"","createTime":"2015-11-04T22:22:19+00:00","timeStamp":"2015-11-23T22:51:02+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","itemAttributesID":"0","manufacturerID":"0","noteID":"2","seasonID":"0","defaultVendorID":"55","itemECommerceID":"0","ItemShops":{"ItemShop":[{"itemShopID":"3","qoh":"0","backorder":"1","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-06T02:32:38+00:00","itemID":"1","shopID":"1"},{"itemShopID":"2","qoh":"0","backorder":"1","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-06T02:32:38+00:00","itemID":"1","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"0","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}},{"inventoryID":"2","itemID":"2","Item":{"itemID":"2","systemSku":"210000000002","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"true","itemType":"default","description":"Test
        Item 002","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-11-04T22:39:46+00:00","timeStamp":"2015-11-23T22:51:02+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatr[...]
[...]
