---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Inventory.json?inventoryID=2&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 61.589064836502/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Inventory":{"inventoryID":"2","itemID":"2","Item":{"itemID":"2","systemSku":"210000000002","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"true","itemType":"default","description":"Test
        Item 002","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-11-04T22:39:46+00:00","timeStamp":"2015-11-23T22:51:02+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","itemAttributesID":"0","manufacturerID":"0","noteID":"4","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","ItemShops":{"ItemShop":[{"itemShopID":"5","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-23T22:51:02+00:00","itemID":"2","shopID":"1"},{"itemShopID":"4","qoh":"0","backorder":"0","componentQoh":"0","componentBackorder":"0","reorderPoint":"0","reorderLevel":"0","timeStamp":"2015-11-23T22:51:02+00:00","itemID":"2","shopID":"0"}]},"Prices":{"ItemPrice":[{"amount":"0","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}}'
  recorded_at: Sat, 13 Feb 2016 00:47:01 GMT
recorded_with: VCR 2.9.3
