---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Order.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 8.5394208431233/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"5","offset":"0","limit":"100"},"Order":[{"orderID":"1","orderedDate":"2015-11-05T08:00:00+00:00","receivedDate":"2015-12-02T08:00:00+00:00","shipInstructions":"","stockInstructions":"","shipCost":"0","otherCost":"0","complete":"false","archived":"false","discount":"0","totalDiscount":"0","totalQuantity":"5","arrivalDate":"2015-11-26T08:00:00+00:00","timeStamp":"2015-12-03T02:43:19+00:00","vendorID":"73","noteID":"9","shopID":"1","Vendor":{"vendorID":"73","name":"C&C
        Metals","archived":"false","accountNumber":"","integrationName":"","integrationLogin":"","integrationPassword":"","integrationAccount":"","integrationEnabled":"0","priceLevel":"default","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-12-03T02:43:19+00:00","contactID":"5"},"Note":{"noteID":"9","note":"","isPublic":"false","timeStamp":"2015-12-03T02:43:19+00:00"},"Shop":{"shopID":"1","name":"Kit
        Kraft Sandbox","serviceRate":"0","timeZone":"US\/Pacific","taxLabor":"false","labelTitle":"Shop
        Name","labelMsrp":"false","archived":"false","timeStamp":"2015-11-04T20:26:24+00:00","companyRegistrationNumber":"","vatNumber":"","contactID":"2","taxCategoryID":"1","receiptSetupID":"1","vendorID":"0","ccGatewayID":"1","priceLevelID":"1"},"OrderLines":{"OrderLine":[{"orderLineID":"1","quantity":"2","price":"0","originalPrice":"0","checkedIn":"0","numReceived":"0","timeStamp":"2015-11-06T02:29:46+00:00","total":"0","orderID":"1","itemID":"177"},{"orderLineID":"2","quantity":"1","price":"0","originalPrice":"0","checkedIn":"0","numReceived":"0","timeStamp":"2015-11-06T02:29:46+00:00","total":"0","orderID":"1","itemID":"13"},{"orderLineID":"3","quantity":"1","price":"0","originalPrice":"0","checkedIn":"0","numReceived":"0","timeStamp":"2015-11-06T02:29:46+00:00","total":"0","orderID":"1","itemID":"153"},{"orderLineID":"4","quantity":"1","price":"0","originalPrice":"0","checkedIn":"0","numReceived":"0","timeStamp":"2015-11-06T02:29:[...]
