---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Order.json?limit=1&load_relations=all&orderID=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 8.6954908370961/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Order":{"orderID":"4","shipInstructions":"","stockInstructions":"","shipCost":"0","otherCost":"0","complete":"false","archived":"false","discount":"0","totalDiscount":"0","totalQuantity":"0","timeStamp":"2015-11-13T23:00:27+00:00","vendorID":"2","noteID":"13","shopID":"1","Vendor":{"vendorID":"2","name":"Great
        Planes","archived":"false","accountNumber":"","integrationName":"","integrationLogin":"","integrationPassword":"","integrationAccount":"","integrationEnabled":"0","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-23T19:11:28+00:00","contactID":"7"},"Note":{"noteID":"13","note":"","isPublic":"false","timeStamp":"2015-11-13T23:00:27+00:00"},"Shop":{"shopID":"1","name":"Kit
        Kraft Sandbox","serviceRate":"0","timeZone":"US\/Pacific","taxLabor":"false","labelTitle":"Shop
        Name","labelMsrp":"false","archived":"false","timeStamp":"2015-11-04T20:26:24+00:00","companyRegistrationNumber":"","vatNumber":"","contactID":"2","taxCategoryID":"1","receiptSetupID":"1","vendorID":"0","ccGatewayID":"1","priceLevelID":"1"}}}'
  recorded_at: Sat, 13 Feb 2016 00:49:27 GMT
recorded_with: VCR 2.9.3
