---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"bornToDie"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 10/90
      X-Ls-Oauth-Client-Id:
      - '20794'
      X-Ls-Acct-Id:
      - '94593'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"813","name":"","archived":"false","accountNumber":"bornToDie","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-12-03T23:05:48+00:00"}}'
  recorded_at: Thu, 03 Dec 2015 23:05:48 GMT
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/-/Vendor/813.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 19.583994865417/90
      X-Ls-Oauth-Client-Id:
      - '20794'
      X-Ls-Acct-Id:
      - '94593'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"813","name":"","archived":"true","accountNumber":"bornToDie","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-12-03T23:05:48+00:00"}}'
  recorded_at: Thu, 03 Dec 2015 23:05:48 GMT
[...]
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/-/Vendor/814.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 10/90
      X-Ls-Oauth-Client-Id:
      - '20794'
      X-Ls-Acct-Id:
      - '94593'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"814","name":"","archived":"true","accountNumber":"destroyMe","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-12-03T23:20:20+00:00"}}'
  recorded_at: Thu, 03 Dec 2015 23:21:54 GMT
recorded_with: VCR 2.9.3
