---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"bornToDie","name":"Test Vendor 4"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 47.604025125503/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"712","name":"Test
        Vendor 4","archived":"false","accountNumber":"bornToDie","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:49:52+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:49:52 GMT
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/-/Vendor/712.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 57.06778717041/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"712","name":"Test
        Vendor 4","archived":"true","accountNumber":"bornToDie","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:49:52+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:49:53 GMT
[...]
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/-/Vendor/715.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 38.339410066605/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"715","name":"Test
        Vendor 5E","archived":"true","accountNumber":"destroyMe","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:55:16+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:55:17 GMT
recorded_with: VCR 2.9.3
