---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber123","name":"Test Vendor 1A"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 47.80268406868/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"716","name":"Test
        Vendor 1A","archived":"false","accountNumber":"testAccountNumber123","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:55:17+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:55:18 GMT
recorded_with: VCR 2.9.3
