---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/120645/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber123"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"67","name":"","archived":"false","accountNumber":"testAccountNumber123","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T21:35:47+00:00"}}'
  recorded_at: Wed, 04 Nov 2015 21:35:49 GMT
recorded_with: VCR 2.9.3
