---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/120645/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"bornToDie"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"65","name":"","archived":"false","accountNumber":"bornToDie","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T21:34:45+00:00"}}'
  recorded_at: Wed, 04 Nov 2015 21:34:47 GMT
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/120645/Vendor/65.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"65","name":"","archived":"true","accountNumber":"bornToDie","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T21:34:45+00:00"}}'
  recorded_at: Wed, 04 Nov 2015 21:34:48 GMT
[...]
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/120645/Vendor/66.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"66","name":"","archived":"true","accountNumber":"destroyMe","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T21:34:46+00:00"}}'
  recorded_at: Wed, 04 Nov 2015 21:35:49 GMT
recorded_with: VCR 2.9.3
