---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/120645/Vendor.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"62","offset":"0","limit":"100"},"Vendor":[{"vendorID":"1","name":"Byron
        Fuels","archived":"false","accountNumber":"","priceLevel":"default","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T20:28:14+00:00","Contact":{"contactID":"3","custom":"custom
        field value.","noEmail":"false","noPhone":"false","noMail":"false","timeStamp":"2015-11-04T20:28:14+00:00","Addresses":{"ContactAddress":{"address1":"123
        Main St.","city":"Los Angeles","state":"CA","zip":"91604","country":"USA"}},"Phones":{"ContactPhone":{"number":"555
        555 1212","useType":"Work"}},"Emails":{"ContactEmail":[{"address":"test@example.com","useType":"Primary"},{"address":"test2@example.com","useType":"Secondary"}]},"Websites":{"ContactWebsite":{"url":"http:\/\/example.com"}}},"Reps":{"VendorRep":{"firstName":"Test","lastName":"Rep"}}},{"vendorID":"2","name":"Great
        Planes","archived":"false","accountNumber":"","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T18:41:58+00:00"},{"vendorID":"3","name":"Horizon
        Hobby","archived":"false","accountNumber":"","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T18:41:59+00:00"},{"vendorID":[...]
