---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Vendor.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 40.994149923324/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"703","offset":"0","limit":"100"},"Vendor":[{"vendorID":"1","name":"Byron
        Fuels","archived":"false","accountNumber":"","priceLevel":"default","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T20:28:14+00:00","Contact":{"custom":"custom
        field value.","noEmail":"false","noPhone":"false","noMail":"false","Addresses":{"ContactAddress":{"address1":"123
        Main St.","address2":"","city":"Los Angeles","state":"CA","zip":"91604","country":"USA"}},"Phones":{"ContactPhone":{"number":"555
        555 1212","useType":"Work"}},"Emails":{"ContactEmail":[{"address":"test@example.com","useType":"Primary"},{"address":"test2@example.com","useType":"Secondary"}]},"Websites":{"ContactWebsite":{"url":"http:\/\/example.com"}},"timeStamp":"2015-11-04T20:28:14+00:00"},"Reps":{"VendorRep":{"firstName":"Test","lastName":"Rep"}}},{"vendorID":"2","name":"Great
        Planes","archived":"false","accountNumber":"","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-23T19:11:28+00:00","Contact":{"custom":"","noEmail":"false","noPhone":"false","noMail":"false","Addresses":{"ContactAddress":{"address1":"","address2":"","city":"","state":"","zip":"","country":""}},"Phones":"","Emails":"","Websites":"","timeStamp":"2015-11-13T23:00:26+00[...]
[...]
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Vendor.json?limit=100&load_relations=all&offset=700
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 37.805373907089/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"703","offset":"700","limit":"100"},"Vendor":[{"vendorID":"709","name":"Test
        Vendor 1","archived":"false","accountNumber":"testAccountNumber123","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-12T17:49:37+00:00"},{"vendorID":"710","name":"Test
        Vendor 2","archived":"false","accountNumber":"testAccountNumber789","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-12T17:54:13+00:00"},{"vendorID":"711","name":"Test
        Vendor 3","archived":"false","accountNumber":"testAccountNumber111","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-12T17:54:14+00:00"}]}'
  recorded_at: Sat, 13 Feb 2016 00:49:51 GMT
recorded_with: VCR 2.9.3
