---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Vendor/1.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 63.510714054107/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"1","name":"Byron
        Fuels","archived":"false","accountNumber":"","priceLevel":"default","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T20:28:14+00:00","Contact":{"custom":"custom
        field value.","noEmail":"false","noPhone":"false","noMail":"false","Addresses":{"ContactAddress":{"address1":"123
        Main St.","address2":"","city":"Los Angeles","state":"CA","zip":"91604","country":"USA"}},"Phones":{"ContactPhone":{"number":"555
        555 1212","useType":"Work"}},"Emails":{"ContactEmail":[{"address":"test@example.com","useType":"Primary"},{"address":"test2@example.com","useType":"Secondary"}]},"Websites":{"ContactWebsite":{"url":"http:\/\/example.com"}},"timeStamp":"2015-11-04T20:28:14+00:00"},"Reps":{"VendorRep":{"firstName":"Test","lastName":"Rep"}}}}'
  recorded_at: Sat, 13 Feb 2016 00:47:03 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Vendor.json?limit=1&load_relations=all&vendorID=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 38.120662927627/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"1"},"Vendor":{"vendorID":"1","name":"Byron
        Fuels","archived":"false","accountNumber":"","priceLevel":"default","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T20:28:14+00:00","Contact":{"custom":"custom
        field value.","noEmail":"false","noPhone":"false","noMail":"false","Addresses":{"ContactAddress":{"address1":"123
        Main St.","address2":"","city":"Los Angeles","state":"CA","zip":"91604","country":"USA"}},"Phones":{"ContactPhone":{"number":"555
        555 1212","useType":"Work"}},"Emails":{"ContactEmail":[{"address":"test@example.com","useType":"Primary"},{"address":"test2@example.com","useType":"Secondary"}]},"Websites":{"ContactWebsite":{"url":"http:\/\/example.com"}},"timeStamp":"2015-11-04T20:28:14+00:00"},"Reps":{"VendorRep":{"firstName":"Test","lastName":"Rep"}}}}'
  recorded_at: Sat, 13 Feb 2016 00:49:52 GMT
recorded_with: VCR 2.9.3
