---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber456","name":"Test Vendor 2B"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 57.186479091644/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"717","name":"Test
        Vendor 2B","archived":"false","accountNumber":"testAccountNumber456","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:55:18+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:55:18 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/-/Vendor/717.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber789"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 66.221788167953/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"717","archived":"false","accountNumber":"testAccountNumber789","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:55:18+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:55:19 GMT
[...]
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/-/Vendor/718.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber111"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 83.299795150756/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"718","archived":"false","accountNumber":"testAccountNumber111","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2016-02-13T00:55:21+00:00"}}'
  recorded_at: Sat, 13 Feb 2016 00:55:22 GMT
recorded_with: VCR 2.9.3
