---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/120645/Vendor.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber456"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"68","name":"","archived":"false","accountNumber":"testAccountNumber456","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T21:35:47+00:00"}}'
  recorded_at: Wed, 04 Nov 2015 21:35:49 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/120645/Vendor/68.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber789"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      X-Ls-Acct-Id:
      - '0'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"httpCode":"429","httpMessage":"Too Many Requests","message":"Rate
        Limit Exceeded: Please decrease your request volume. To eliminate this message,
        keep your request rate below 0.5 requests per second. Clients that continue
        to receive this response may have their traffic throttled.","errorClass":"RateLimitedException"}'
  recorded_at: Wed, 04 Nov 2015 21:35:50 GMT
[...]
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/120645/Vendor/69.json
    body:
      encoding: UTF-8
      string: '{"accountNumber":"testAccountNumber111"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Vendor":{"vendorID":"69","name":"","archived":"false","accountNumber":"testAccountNumber111","priceLevel":"","updatePrice":"false","updateCost":"false","updateDescription":"false","shareSellThrough":"false","timeStamp":"2015-11-04T21:36:49+00:00"}}'
  recorded_at: Wed, 04 Nov 2015 21:36:51 GMT
recorded_with: VCR 2.9.3
