---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/117102/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category One"}'
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"26","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"3","rightNode":"4","createTime":"2015-09-22T11:52:14+00:00","timeStamp":"2015-09-22T11:52:14+00:00","parentID":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:52:37 GMT
recorded_with: VCR 2.9.3
