---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category One"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 29.042484760284/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"11","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"1","rightNode":"2","createTime":"2016-02-13T00:46:33+00:00","timeStamp":"2016-02-13T00:46:33+00:00","parentID":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:33 GMT
recorded_with: VCR 2.9.3
