---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category to delete"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 10.480180025101/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"10","name":"Category
        to delete","nodeDepth":"0","fullPathName":"Category to delete","leftNode":"11","rightNode":"12","createTime":"2016-02-13T00:46:30+00:00","timeStamp":"2016-02-13T00:46:30+00:00","parentID":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:30 GMT
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/-/Category/10.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 19.859433889389/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"10","name":"Category
        to delete","nodeDepth":"0","fullPathName":"Category to delete","leftNode":"11","rightNode":"12","createTime":"2016-02-13T00:46:30+00:00","timeStamp":"2016-02-13T00:46:30+00:00","parentID":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:31 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Category.json?categoryID=10&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 19.924640893936/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:32 GMT
recorded_with: VCR 2.9.3
