---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/117102/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category to delete"}'
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"25","name":"Category
        to delete","nodeDepth":"0","fullPathName":"Category to delete","leftNode":"23","rightNode":"24","createTime":"2015-09-22T11:51:11+00:00","timeStamp":"2015-09-22T11:51:11+00:00","parentID":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:51:33 GMT
- request:
    method: delete
    uri: https://api.merchantos.com/API/Account/117102/Category/25.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"25","name":"Category
        to delete","nodeDepth":"0","fullPathName":"Category to delete","leftNode":"23","rightNode":"24","createTime":"2015-09-22T11:51:11+00:00","timeStamp":"2015-09-22T11:51:11+00:00","parentID":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:51:33 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Category.json?categoryID=25&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:52:35 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Category.json?categoryID=25&limit=1&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"0"}}'
  recorded_at: Thu, 24 Sep 2015 03:10:46 GMT
recorded_with: VCR 2.9.3
