---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/1/Category.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"100"},"Category":{"categoryID":"2","name":"Test","nodeDepth":"0","fullPathName":"Test","leftNode":"1","rightNode":"2","createTime":"2015-08-04T00:16:54+00:00","timeStamp":"2015-08-03T07:16:54+00:00","parentID":"0"}}'
  recorded_at: Tue, 04 Aug 2015 00:17:03 GMT
recorded_with: VCR 2.9.3
