---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Category.json?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 1/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"7","offset":"0","limit":"100"},"Category":[{"categoryID":"2","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"3","rightNode":"4","createTime":"2015-11-13T22:28:15+00:00","timeStamp":"2016-02-12T06:02:35+00:00","parentID":"0"},{"categoryID":"3","name":"CategoryTwo","nodeDepth":"0","fullPathName":"CategoryTwo","leftNode":"13","rightNode":"14","createTime":"2015-11-13T22:29:02+00:00","timeStamp":"2016-02-12T17:53:23+00:00","parentID":"0"},{"categoryID":"4","name":"Category
        Two","nodeDepth":"0","fullPathName":"Category Two","leftNode":"5","rightNode":"6","createTime":"2015-11-13T22:29:16+00:00","timeStamp":"2016-02-12T06:02:35+00:00","parentID":"0"},{"categoryID":"5","name":"Category
        to update","nodeDepth":"0","fullPathName":"Category to update","leftNode":"11","rightNode":"12","createTime":"2015-11-13T22:30:17+00:00","timeStamp":"2016-02-12T17:53:23+00:00","parentID":"0"},{"categoryID":"7","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"1","rightNode":"2","createTime":"2016-02-12T06:02:35+00:00","timeStamp":"2016-02-12T06:02:35+00:00","parentID":"0"},{"categoryID":"8","name":"Category
        Two","nodeDepth":"0","fullPathName":"Category Two","leftNode":"9","rightNode":"10","createTime":"2016-02-12T06:02:36+00:00","timeStamp":"2016-02-12T17:53:25+00:00","parentID":"0"},{"categoryID":"9","name":"Category
        to update","nodeDepth":"0","fullPathName":"Category to update","leftNode":"7","rightNode":"8","createTime":"2016-02-12T06:02:36+00:00","timeStamp":"2016-02-12T17:53:23+00:00","parentID":"0"}]}'
  recorded_at: Sat, 13 Feb 2016 00:46:30 GMT
recorded_with: VCR 2.9.3
