---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Category.json?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"6","offset":"0","limit":"100"},"Category":[{"categoryID":"4","name":"Bike
        T-Shirts","nodeDepth":"0","fullPathName":"Bike T-Shirts","leftNode":"1","rightNode":"2","createTime":"2015-08-13T01:34:50+00:00","timeStamp":"2015-08-12T08:35:06+00:00","parentID":"0"},{"categoryID":"5","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"11","rightNode":"12","createTime":"2015-09-22T09:30:25+00:00","timeStamp":"2015-09-22T11:03:55+00:00","parentID":"0"},{"categoryID":"7","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"9","rightNode":"10","createTime":"2015-09-22T09:44:17+00:00","timeStamp":"2015-09-22T11:03:55+00:00","parentID":"0"},{"categoryID":"8","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"7","rightNode":"8","createTime":"2015-09-22T10:34:54+00:00","timeStamp":"2015-09-22T11:03:55+00:00","parentID":"0"},{"categoryID":"10","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"5","rightNode":"6","createTime":"2015-09-22T11:00:56+00:00","timeStamp":"2015-09-22T11:03:55+00:00","parentID":"0"},{"categoryID":"11","name":"Category
        One","nodeDepth":"0","fullPathName":"Category One","leftNode":"3","rightNode":"4","createTime":"2015-09-22T11:03:55+00:00","timeStamp":"2015-09-22T11:03:55+00:00","parentID":"0"}]}'
  recorded_at: Wed, 23 Sep 2015 04:09:02 GMT
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/117102/Category.json?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"17","offset":"0","limit":"100"},"Category":[{"categoryID":"4","name":"Bike
        T-Shirts"[...]
