---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/117102/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category to update"}'
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"27","name":"Category
        to update","nodeDepth":"0","fullPathName":"Category to update","leftNode":"25","rightNode":"26","createTime":"2015-09-22T11:52:16+00:00","timeStamp":"2015-09-22T11:52:16+00:00","parentID":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:52:37 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/117102/Category/27.json
    body:
      encoding: UTF-8
      string: '{"name":"Category Two"}'
    headers:
      Authorization:
      - - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"27","name":"Category
        Two","nodeDepth":"0","fullPathName":"Category Two","leftNode":"25","rightNode":"26","createTime":"2015-09-22T11:52:16+00:00","timeStamp":"2015-09-22T11:53:19+00:00","parentID":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:53:40 GMT
recorded_with: VCR 2.9.3
