---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category to update"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 46.965867757796/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"12","name":"Category
        to update","nodeDepth":"0","fullPathName":"Category to update","leftNode":"13","rightNode":"14","createTime":"2016-02-13T00:46:35+00:00","timeStamp":"2016-02-13T00:46:35+00:00","parentID":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:35 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/-/Category/12.json
    body:
      encoding: UTF-8
      string: '{"name":"Category Two"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 56.425407886504/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"12","name":"Category
        Two","nodeDepth":"0","fullPathName":"Category Two","leftNode":"13","rightNode":"14","createTime":"2016-02-13T00:46:35+00:00","timeStamp":"2016-02-13T00:46:35+00:00","parentID":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:35 GMT
recorded_with: VCR 2.9.3
