---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/117102/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category to update"}'
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"28","name":"Category
        to update","nodeDepth":"0","fullPathName":"Category to update","leftNode":"27","rightNode":"28","createTime":"2015-09-22T11:53:19+00:00","timeStamp":"2015-09-22T11:53:19+00:00","parentID":"0"}}'
  recorded_at: Wed, 23 Sep 2015 04:53:41 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/117102/Category/28.json
    body:
      encoding: UTF-8
      string: '{"name":""}'
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"httpCode":"400","httpMessage":"Bad Request","message":"name cannot
        be blank.","errorClass":"Exception"}'
  recorded_at: Wed, 23 Sep 2015 04:53:41 GMT
recorded_with: VCR 2.9.3
