---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/-/Category.json
    body:
      encoding: UTF-8
      string: '{"name":"Category to update"}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 65.916154861449/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"13","name":"Category
        to update","nodeDepth":"0","fullPathName":"Category to update","leftNode":"15","rightNode":"16","createTime":"2016-02-13T00:46:36+00:00","timeStamp":"2016-02-13T00:46:36+00:00","parentID":"0"}}'
  recorded_at: Sat, 13 Feb 2016 00:46:36 GMT
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/-/Category/13.json
    body:
      encoding: UTF-8
      string: '{"name":""}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Ls-Api-Bucket-Level:
      - 75.341895818709/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"httpCode":"400","httpMessage":"Bad Request","message":"name cannot
        be blank.","errorClass":"Exception"}'
  recorded_at: Sat, 13 Feb 2016 00:46:36 GMT
recorded_with: VCR 2.9.3
