---
http_interactions:
- request:
    method: put
    uri: https://api.merchantos.com/API/Account/1/Category/2.json
    body:
      encoding: UTF-8
      string: '{"name":"Category Two"}'
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Category":{"categoryID":"2","name":"Category
        Two","nodeDepth":"0","fullPathName":"Category Two","leftNode":"1","rightNode":"2","createTime":"2015-07-29T12:55:26+00:00","timeStamp":"2015-07-29T13:05:56+00:00","parentID":"0"}}'
  recorded_at: Thu, 30 Jul 2015 06:05:59 GMT
recorded_with: VCR 2.9.3
