---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/ItemMatrix/1.json?load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 63.03189587593/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"1"},"ItemMatrix":{"itemMatrixID":"1","description":"Test
        Matrix","tax":"true","defaultCost":"0","itemType":"default","modelYear":"0","archived":"false","timeStamp":"2016-02-13T00:41:35+00:00","itemAttributeSetID":"2","manufacturerID":"0","categoryID":"0","defaultVendorID":"0","taxClassID":"1","seasonID":"0","departmentID":"0","itemECommerceID":"0","ItemAttributeSet":{"itemAttributeSetID":"2","name":"Size","attributeName1":"","attributeName2":"Size","attributeName3":""},"TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"Items":{"Item":{"itemID":"412","systemSku":"210000000418","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"12mm
        Pearls","modelYear":"0","upc":"","ean":"","customSku":"SKU2341(10)","manufacturerSku":"","createTime":"2016-02-05T07:39:57+00:00","timeStamp":"2016-02-13T00:41:35+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"1","itemAttributesID":"1","manufacturerID":"0","noteID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"2.5","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}},"Prices":{"ItemPrice":[{"amount":"1","useTypeID":"1","useType":"Default"},{"amount":"1","useTypeID":"2","useType":"MSRP"}]}}}'
  recorded_at: Sat, 13 Feb 2016 00:47:03 GMT
recorded_with: VCR 2.9.3
