---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/1/ItemMatrix.json?itemMatrixID=2&load_relations=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1","offset":"0","limit":"100"},"ItemMatrix":{"itemMatrixID":"2","description":"T-Shirt","tax":"true","defaultCost":"0","itemType":"default","modelYear":"0","archived":"false","timeStamp":"2015-08-02T09:45:32+00:00","itemAttributeSetID":"2","manufacturerID":"0","categoryID":"0","defaultVendorID":"0","taxClassID":"2","seasonID":"0","departmentID":"0","itemECommerceID":"0","ItemAttributeSet":{"itemAttributeSetID":"2","name":"Color\/Size","attributeName1":"Color","attributeName2":"Size","attributeName3":""},"TaxClass":{"taxClassID":"2","name":"Item","timeStamp":"2015-07-19T07:59:46+00:00"},"Items":{"Item":[{"itemID":"2","systemSku":"210000000002","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Red Small","modelYear":"0","upc":"","ean":"","customSku":"1","manufacturerSku":"","createTime":"2015-07-28T04:38:48+00:00","timeStamp":"2015-07-30T07:14:14+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","itemAttributesID":"2","manufacturerID":"0","noteID":"2","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}},{"itemID":"4","systemSku":"210000000004","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Green Small","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-07-28T04:41:02+00:00","timeStamp":"2015-07-27T11:41:02+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","itemAttributesID":"4","manufacturerID":"0","noteID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}},{"itemID":"12","systemSku":"210000000012","defaultCost":"0","avgCost":"0","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"T-Shirt
        Blue Small","modelYear":"0","upc":"","ean":"","customSku":"","manufacturerSku":"","createTime":"2015-08-03T02:45:50+00:00","timeStamp":"2015-08-02T09:45:50+00:00","categoryID":"0","taxClassID":"2","departmentID":"0","itemMatrixID":"2","itemAttributesID":"8","manufacturerID":"0","noteID":"0","seasonID":"0","defaultVendorID":"0","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}]},"Prices":{"ItemPrice":[{"amount":"20","useType":"Default"},{"amount":"0","useType":"MSRP"}]}}}'
  recorded_at: Mon, 03 Aug 2015 23:49:40 GMT
recorded_with: VCR 2.9.3
