---
http_interactions:
- request:
    method: post
    uri: https://api.merchantos.com/API/Account/120645/Sale.json
    body:
      encoding: UTF-8
      string: '{"taxCategoryID":0,"employeeID":1,"shopID":1,"registerID":1,"SaleLines":[{"SaleLine":{"itemCode":"210000000177","unitQuantity":3,"unitPrice":"0.11","tax":true}}]}'
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 19.694000482559/30
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"1"},"Sale":{"saleID":"21","timeStamp":"2015-11-16T22:31:47+00:00","discountPercent":"0","completed":"false","archived":"false","voided":"false","enablePromotions":"false","isTaxInclusive":"false","referenceNumber":"","referenceNumberSource":"","tax1Rate":"0","tax2Rate":"0","change":"0","receiptPreference":"printed","displayableSubtotal":"0.33","ticketNumber":"220000000021","calcDiscount":"0","calcTotal":"0.33","calcSubtotal":"0.33","calcTaxable":"0","calcNonTaxable":"0.33","calcAvgCost":"0","calcFIFOCost":"0","calcTax1":"0","calcTax2":"0","calcPayments":"0","total":"0.33","totalDue":"0.33","displayableTotal":"0.33","balance":"0.33","customerID":"0","discountID":"0","employeeID":"1","quoteID":"0","registerID":"1","shipToID":"0","shopID":"1","taxCategoryID":"0","Shop":{"shopID":"1","name":"Kit
        Kraft Sandbox","serviceRate":"0","timeZone":"US\/Pacific","taxLabor":"false","labelTitle":"Shop
        Name","labelMsrp":"false","archived":"false","timeStamp":"2015-11-04T20:26:24+00:00","companyRegistrationNumber":"","vatNumber":"","contactID":"2","taxCategoryID":"1","receiptSetupID":"1","vendorID":"0","ccGatewayID":"1","priceLevelID":"1"},"SaleLines":{"SaleLine":{"saleLineID":"9","createTime":"2015-11-16T22:31:47+00:00","timeStamp":"2015-11-16T22:31:47+00:00","unitQuantity":"3","unitPrice":"0.11","normalUnitPrice":"0","discountAmount":"0","discountPercent":"0","avgCost":"0","fifoCost":"0","tax":"false","tax1Rate":"0","tax2Rate":"0","isLayaway":"false","isWorkorder":"false","isSpecialOrder":"false","displayableSubtotal":"0.33","displayableUnitPrice":"0.11","calcLineDiscount":"0","calcTransactionDiscount":"0","calcTotal":"0.33","calcSubtotal":"0.33","calcTax1":"0","calcTax2":"0","taxClassID":"1","customerID":"0","discountID":"0","employeeID":"1","itemID":"177","noteID":"0","parentSaleLineID":"0","shopID":"1","saleID":"21"}},"taxTotal":"0"}}'
  recorded_at: Mon, 16 Nov 2015 22:31:47 GMT
recorded_with: VCR 2.9.3
