---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/120645/Sale.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 1/30
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"count":"12","offset":"0","limit":"100"},"Sale":[{"saleID":"1","timeStamp":"2015-11-06T01:51:46+00:00","discountPercent":"0","completed":"false","archived":"false","voided":"false","enablePromotions":"true","isTaxInclusive":"false","referenceNumber":"","referenceNumberSource":"","tax1Rate":"0.09","tax2Rate":"0","change":"0","receiptPreference":"printed","displayableSubtotal":"0","ticketNumber":"220000000001","calcDiscount":"0","calcTotal":"0","calcSubtotal":"0","calcTaxable":"0","calcNonTaxable":"0","calcAvgCost":"0","calcFIFOCost":"0","calcTax1":"0","calcTax2":"0","calcPayments":"0","total":"0","totalDue":"0","displayableTotal":"0","balance":"0","customerID":"0","discountID":"0","employeeID":"1","quoteID":"0","registerID":"1","shipToID":"0","shopID":"1","taxCategoryID":"1","TaxCategory":{"taxCategoryID":"1","isTaxInclusive":"false","tax1Name":"Sales
        Tax","tax2Name":"","tax1Rate":"0.09","tax2Rate":"0","timeStamp":"2015-11-04T18:42:42+00:00"},"taxTotal":"0"},{"saleID":"2","timeStamp":"2015-11-06T01:52:46+00:00","discountPercent":"0","completed":"true","archived":"false","voided":"false","enablePromotions":"true","isTaxInclusive":"false","referenceNumber":"","referenceNumberSource":"","tax1Rate":"0.09","tax2Rate":"0","change":"0","receiptPreference":"printed","displayableSubtotal":"630630","ticketNumber":"220000000002","calcDiscount":"0","calcTotal":"687386.7","calcSubtotal":"630630","calcTaxable":"630630","calcNonTaxable":"0","calcAvgCost":"180180","calcFIFOCost":"180180","calcTax1":"56756.7","calcTax2":"0","calcPayments":"687386.7","total":"687386.7","totalDue":"687386.7","displayableTotal":"687386.7","balance":"0","customerID":"0","discountID":"0","employeeID":"1","quoteID":"0","registerID":"1","shipToID":"0","shopID":"1","taxCategoryID":"1","TaxCategory":{"taxCategoryID":"1","isTaxInclusive":"false","tax1Name":"Sales
        Tax","tax2Name":"","tax1Rate":"0.09","tax2Rate":"0","timeStamp":"2015-11-04T18:42:42+00:00"},"SaleLines":{"SaleLine":{"saleLineID":"1","createTime":"2015-11-06T01:51:52+00:00","timeStamp":"2015-11-06T01:52:46+00:00","unitQuantity":"90090","unitPrice":"7","normalUnitPrice":"0","discountAmount":"0","discountPercent":"0","avgCost":"2","fifoCost":"2","tax":"true","tax1Rate":"0.09","tax2Rate":"0","isLayaway":"false","isWorkorder":"false","isSpecialOrder":"false","displayableSubtotal":"630630","displayableUnitPrice":"7","calcLineDiscount":"0","calcTransactionDiscount":"0","calcTotal":"687386.7","calcSubtotal":"630630","calcTax1":"56756.7","calcTax2":"0","taxClassID":"1","customerID":"0","discountID":"0","employeeID":"1","itemID":"1","noteID":"0","parentSaleLineID":"0","shopID":"1","saleID":"2","TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"Item":{"itemID":"1","systemSku":"210000000001","defaultCost":"2","avgCost":"2","discountable":"true","tax":"true","archived":"false","itemType":"default","description":"Test
        Item 001","modelYear":"0","upc":"","ean":"","customSku":"testitem1","manufacturerSku":"","createTime":"2015-11-04T22:22:19+00:00","timeStamp":"2015-11-08T05:45:55+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","itemAttributesID":"0","manufacturerID":"0","noteID":"2","seasonID":"0","defaultVendorID":"55","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"0","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}}},"SalePayments":{"SalePayment":{"salePaymentID":"1","amount":"687386.7","createTime":"2015-11-06T01:52:46+00:00","archived":"false","saleID":"2","paymentTypeID":"1","ccChargeID":"0","refPaymentID":"0","registerID":"1","employeeID":"1","creditAccountID":"0","PaymentType":{"paymentTypeID":"1","name":"Cash","requireCustomer":"false","archived":"false","internalReserved":"true","type":"cash","refundAsPaymentTypeID":"0"}}},"TaxClassTotals":{"Tax":{"id":"1","name":"Item","taxable":"630630","rate":"9","amount":"56756.7","taxname":"Tax","subtotal":"630630"}},"taxTotal":"56756.7"},{"saleID":"3","timeStamp":"2015-11-06T01:53:17+00:00","discountPercent":"0","completed":"false","archived":"false","voided":"false","enablePromotions":"true","isTaxInclusive":"false","referenceNumber":"","referenceNumberSource":"","tax1Rate":"0.09","tax2Rate":"0","change":"0","receiptPreference":"printed","displayableSubtotal":"0","ticketNumber":"220000000003","calcDiscount":"0","calcTotal":"0","calcSubtotal":"0","calcTaxable":"0","calcNonTaxable":"0","calcAvgCos[...]
