---
http_interactions:
- request:
    method: get
    uri: https://api.merchantos.com/API/Account/-/Sale.json?limit=100&load_relations=all&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth OAuth Token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ls-Api-Bucket-Level:
      - 10.131664752959/90
      X-Ls-Oauth-Client-Id:
      - '19570'
      X-Ls-Acct-Id:
      - '120645'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@attributes":{"count":"119","offset":"0","limit":"100"},"Sale":[{"saleID":"1","timeStamp":"2016-02-12T06:05:35+00:00","discountPercent":"0","completed":"false","archived":"false","voided":"false","enablePromotions":"true","isTaxInclusive":"false","referenceNumber":"","referenceNumberSource":"","tax1Rate":"0.09","tax2Rate":"0","change":"0","receiptPreference":"printed","displayableSubtotal":"4.95","ticketNumber":"220000000001","calcDiscount":"0","calcTotal":"5.17","calcSubtotal":"4.95","calcTaxable":"2.46","calcNonTaxable":"2.49","calcAvgCost":"14","calcFIFOCost":"14","calcTax1":"0.22","calcTax2":"0","calcPayments":"0","total":"5.17","totalDue":"5.17","displayableTotal":"5.17","balance":"5.17","customerID":"0","discountID":"0","employeeID":"1","quoteID":"0","registerID":"1","shipToID":"0","shopID":"1","taxCategoryID":"1","TaxCategory":{"taxCategoryID":"1","isTaxInclusive":"false","tax1Name":"Sales
        Tax","tax2Name":"","tax1Rate":"0.09","tax2Rate":"0","timeStamp":"2015-11-04T18:42:42+00:00"},"SaleLines":{"SaleLine":[{"saleLineID":"12","createTime":"2015-11-27T04:44:26+00:00","timeStamp":"2015-11-27T04:44:26+00:00","unitQuantity":"2","unitPrice":"1.23","normalUnitPrice":"0","discountAmount":"0","discountPercent":"0","avgCost":"2","fifoCost":"2","tax":"true","tax1Rate":"0.09","tax2Rate":"0","isLayaway":"false","isWorkorder":"false","isSpecialOrder":"false","displayableSubtotal":"2.46","displayableUnitPrice":"1.23","calcLineDiscount":"0","calcTransactionDiscount":"0","calcTotal":"2.6814","calcSubtotal":"2.46","calcTax1":"0.2214","calcTax2":"0","taxClassID":"1","customerID":"0","discountID":"0","employeeID":"1","itemID":"1","noteID":"0","parentSaleLineID":"0","shopID":"1","saleID":"1","TaxClass":{"taxClassID":"1","name":"Item","timeStamp":"2015-11-04T18:41:22+00:00"},"Item":{"itemID":"1","systemSku":"210000000001","defaultCost":"2","avgCost":"2","discountable":"true","tax":"true","archived":"true","itemType":"default","description":"Test
        Item 001","modelYear":"0","upc":"","ean":"","customSku":"testitem1","manufacturerSku":"","createTime":"2015-11-04T22:22:19+00:00","timeStamp":"2015-11-23T22:51:02+00:00","categoryID":"0","taxClassID":"1","departmentID":"0","itemMatrixID":"0","itemAttributesID":"0","manufacturerID":"0","noteID":"2","seasonID":"0","defaultVendorID":"55","itemECommerceID":"0","Prices":{"ItemPrice":[{"amount":"0","useTypeID":"1","useType":"Default"},{"amount":"0","useTypeID":"2","useType":"MSRP"}]}}},{"saleLineID":"13","createTime":"2015-11-27T04:48:19+00:00","timeStamp":"2015-11-27T04:48:19+00:00","unitQuantity":"2","unitPrice":"1.23","normalUnitPrice":"0","discountAmount":"0","discountPercent":"0","avgCost":"2","fifoCost":"2","tax":"false","tax1Rate":"0.09","tax2Rate":"0","isLayaway":"false","isWorkorder":"false","isSpecialOrder":"false","displayableSubtotal":"2.46","displayableUnitPrice":"1.23","calcLineDiscount":"0","calcTran[...]
[...]
